apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sahil-sample-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: "https://github.com/SAHILSAINI12345/sahil-portfolio"
    targetRevision: HEAD
    path: kubernetes
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
